
  a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
   .respon ul li a{
     color: #00f0ff;
     text-decoration: none;
     list-style-type: none;
     list-style: none;
   }

body{
  background: black;
}

h1 {
 color: red;
  }

h3 {
  color: lightGreen;
}
h2 {
  color: yellow;
}
h5 {
Color: skyblue;
}
h4 {
  color: crimson;
}
#img-circle {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
