
  a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
   .respon ul li a{
     color: #00f0ff;
     text-decoration: none;
     list-style-type: none;
     list-style: none;
   }

body{
  margin: 0;
  padding: 0;
  background: black;
}
h1{
  position: absolute;
  top: 35%;
  Left: 20%;
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff , #ff00c4, #ff0000);
  background-size: 400%;
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinte;
}
@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 0%;
  }
}

h1 {
 color: red;
  }

h3 {
  color: lightGreen;
}
h2 {
  color: yellow;
}
h5 {
Color: skyblue;
}
h4 {
  color: crimson;
}
#img-circle {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
